/*comment*/
* {
    /*border: 2px solid red;*/
    margin: 0px;
}

.flex-container{
    display: flex;
}

.banner {
    position: static;
    height: 1000px;
}

h1 {
    margin-top: 15px;
}

.leaves {
    height: 1000px;
    width: 425px;
}

.card {
    display: flex;
    position: relative;
    bottom: 800px;
    background-color: black;
    opacity: 0.6;
    justify-content: center;
}

.cardheading {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.odin {
    height: auto;
    width: 100px;
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

.header {
    height: 200px;
    width: 700px;
    margin-top: 157px;
    margin-left: 50px;
}

p {
    font-size: 24px;
    font-weight: 700;
}

.form-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1000px;
    box-shadow: 10px 5px 5px lightgrey;
}

label {
    margin-bottom: 5px;
}

h2 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
}

.mybox {
    height: 20px;
}
label {
    border-radius: 5px;
}
.tile {
    height: 75px;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
/*side by side*/
.sbs {
    display: flex;
    flex-direction: row;
}

button {
    background-color: rgb(16, 121, 16);
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    
}

.footer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 30px;
}